USE [Turbo.az]
GO
/****** Object:  Table [dbo].[BanTypes]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mileage] [int] NOT NULL,
	[RegYear] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[MakeId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[BanTypeId] [int] NOT NULL,
	[GearId] [int] NOT NULL,
	[FuelTypeId] [int] NOT NULL,
	[TransmissionId] [int] NOT NULL,
	[EngVolumeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineVolumes]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineVolumes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Volume] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gears]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gears](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makes]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[MakeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transmissions]    Script Date: 12/12/2021 10:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transmissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanTypes] ON 

INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (1, N'Avtobus')
INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (2, N'Dartqı')
INSERT [dbo].[BanTypes] ([Id], [Name]) VALUES (3, N'Furqon')
SET IDENTITY_INSERT [dbo].[BanTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (1, 73000, 2010, 12200.0000, 68, 580, 15, 7, 4, 2, 1, 1, 15)
INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (2, 0, 2021, 25100.0000, 71, 635, 15, 7, 17, 2, 1, 1, 17)
INSERT [dbo].[Cars] ([Id], [Mileage], [RegYear], [Price], [MakeId], [ModelId], [ColorId], [RegionId], [BanTypeId], [GearId], [FuelTypeId], [TransmissionId], [EngVolumeId]) VALUES (3, 113000, 2013, 21900.0000, 122, 1276, 2, 7, 4, 2, 5, 2, 19)
GO
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name]) VALUES (1, N'Qara')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (2, N'Yaş Asfalt')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (3, N'Boz')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[EngineVolumes] ON 

INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (1, 0)
INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (2, 100)
INSERT [dbo].[EngineVolumes] ([Id], [Volume]) VALUES (3, 200)
SET IDENTITY_INSERT [dbo].[EngineVolumes] OFF
GO
SET IDENTITY_INSERT [dbo].[FuelTypes] ON 

INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (1, N'Benzin')
INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (2, N'Dizel')
INSERT [dbo].[FuelTypes] ([Id], [Name]) VALUES (3, N'Qaz')
SET IDENTITY_INSERT [dbo].[FuelTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Gears] ON 

INSERT [dbo].[Gears] ([Id], [Name]) VALUES (1, N'Arxa')
INSERT [dbo].[Gears] ([Id], [Name]) VALUES (2, N'Ön')
INSERT [dbo].[Gears] ([Id], [Name]) VALUES (3, N'Tam')
SET IDENTITY_INSERT [dbo].[Gears] OFF
GO
SET IDENTITY_INSERT [dbo].[Makes] ON 

INSERT [dbo].[Makes] ([Id], [Name]) VALUES (1, N'Abarth')
INSERT [dbo].[Makes] ([Id], [Name]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[Makes] ([Id], [Name]) VALUES (3, N'Arctic Cat')
GO
SET IDENTITY_INSERT [dbo].[Makes] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (1, N'595', 1)
INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (2, N'Giulia', 2)
INSERT [dbo].[Models] ([Id], [Name], [MakeId]) VALUES (3, N'Giulietta', 2)
GO
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Ağcabədi')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Ağdam')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Ağdaş')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Transmissions] ON 

INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (1, N'Mexaniki')
INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (2, N'Avtomat')
INSERT [dbo].[Transmissions] ([Id], [Name]) VALUES (3, N'Robotlaşdırılmış')
SET IDENTITY_INSERT [dbo].[Transmissions] OFF
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ((0)) FOR [Mileage]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([BanTypeId])
REFERENCES [dbo].[BanTypes] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([EngVolumeId])
REFERENCES [dbo].[EngineVolumes] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([FuelTypeId])
REFERENCES [dbo].[FuelTypes] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([GearId])
REFERENCES [dbo].[Gears] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([MakeId])
REFERENCES [dbo].[Makes] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([TransmissionId])
REFERENCES [dbo].[Transmissions] ([Id])
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD FOREIGN KEY([MakeId])
REFERENCES [dbo].[Makes] ([Id])
GO
ALTER TABLE [dbo].[BanTypes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD CHECK  (([Mileage]>=(0)))
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD CHECK  (([RegYear]>=(1950) AND [RegYear]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Colors]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[EngineVolumes]  WITH CHECK ADD CHECK  (([Volume]>=(0)))
GO
ALTER TABLE [dbo].[FuelTypes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Gears]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Makes]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Transmissions]  WITH CHECK ADD CHECK  (([Name]<>''))
GO
